@charset "UTF-8";

header {
	font-family: 'Noto Serif JP', serif;

	background-color: #65508E;

	color: #ffffff;

	width: 100%;

	height: 100px;

	padding-top: 3px;

	padding-bottom: 3px;

	box-sizing: border-box;

}

nav {
	font-family: 'Noto Serif JP', serif;
	
	background-color: #65508E;

	padding-top: 3px;

	padding-bottom: 3px;
	
	color: #ffffff;
}

body {
	background-color: black;

	text-align: center;

	min-width: 900px;

}

.cancel {
	position: relative;

	bottom: 60px;

	right: 350px;
}

table,
th,
td {
	border-collapse: collapse;
	border: 1px solid rgb(0, 0, 0);
	background-color: #ffffff;
}

th {
	font-family: 'Noto Serif JP', serif;

}

/* 表 */
table {
	margin: 5px auto;
	min-width: 500px;
}

/* 表見出しセル */
table th {
	background: rgb(255, 128, 0);
	color: #ffffff;
}

/* 送信ボタン */
button {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background-color: rgb(255, 0, 30);
	color: #ffffff;
}

/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #f1b2b2;
}

main {
	background-color: #6EB72D;
	min-height: 50px;
	padding: 20px;
}