<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>支出追加</title>
	<link rel="stylesheet" href="/css/home2.css">
</head>

<body>
	<header>
		<h1 class="title header sync-rate">EXTLA EXPENDITURE</h1>
		<form action="/home" method="get">
			<button class="button button:hover cancel">cancel</button>
		</form>
	</header>
	<form action="/expens/add" method="post">
		<nav>
			<ul th:if="${errorList}">
				<li th:each="error:${errorList}" th:text="${error}"></li>
			</ul>
		</nav>
		<main>
			<table border="1" class="log">
				<tr>
					<th>CATEGORY</th>
					<td>
						<select name="category" class="textbox">
							<option th:each="category:${categories}" th:value="${category.id}"
								th:text="${category.name}">
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>DATE</th>
					<td>
						<input type="date" name="date" class="textbox">
					</td>
				</tr>
				<tr>
					<th>PRICE</th>
					<td>
						<input type="text" name="price1" class="textbox">00円
					</td>
				</tr>
				<tr>
					<th>MEMO</th>
					<td>
						<input type="text" name="name" class="textbox">
					</td>
				</tr>
			</table>
			<br>
			<button class="button button:hover">EXTLA</button>
		</main>
	</form>

</body>

</html>