<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>支出追加</title>
	<link rel="stylesheet" href="/css/home2.css">
</head>

<body>
	<main>
		<h1 class="title header sync-rate">EXTLA EXPENDITURE</h1>
	</main>

	<table class="sidebar">
		<tr>
			<td>
				<img src="/img/rogo.jpg" width="150px" height="150px">
			</td>
		</tr>
		<tr>
			<td class="">NAME：[[${@account.name}]]</td>
		</tr>
		<tr>
			<td class="">INCOME：&yen;[[${@account.income}]]</td>
		</tr>
		<tr>
			<td>
				<form action="/home" method="get">
					<button style="width: 100%; height: 100%;" class="button button:hover">HOME</button>
				</form>
			</td>
		</tr>
		<tr>
			<td>
				<form action="/user">
					<button style="width: 100%; height: 100%;" class="button button:hover">Edit Income</button>
				</form>
			</td>
		</tr>
		<tr>
			<td>
				<form action="/expens/add">
					<button style="width: 100%; height: 100%;" class="button button:hover">Expenditure</button>
				</form>
			</td>
		</tr>
		<tr>
			<td>
				<form action="/category/add">
					<button style="width: 100%; height: 100%;" class="button button:hover">Category</button>
				</form>
			</td>
		</tr>
		<tr>
			<td>
				<form action="/logout">
					<button style="width: 100%; height: 100%;" class="button button:hover">Logout</button>
				</form>
			</td>
		</tr>
	</table>

	<form action="/expens/add" method="post">

		<nav>
			<ul th:if="${errorList}">
				<li th:each="error:${errorList}" th:text="${error}"></li>
			</ul>
		</nav>

		<main>
			<div class="boder">
				<table border="1" class="price">
					<tr>
						<td>
							&yen; <input type="text" name="price1" class="textbox corebox">00
						</td>
					</tr>
				</table>

				<table class="radio">
					<tr>
						<td th:each="category : ${categories}" style="display: inline-block;">
							<input type="radio" th:id="'category-' + ${category.id}" th:value="${category.id}"
								name="category" />

							<label th:for="'category-' + ${category.id}" class="label"
								th:text="${category.name}"></label>
						</td>
					</tr>
				</table>

				<table border="1" class="demo">
					<tr>
						<th>DATE</th>
						<td>
							<input type="date" name="date" class="textbox">←
						</td>
					</tr>
					<tr>
						<th>MEMO</th>
						<td>
							<input type="text" name="name" class="textbox">
						</td>
					</tr>
				</table>
				<br>
				<button class="button button:hover excute">>>>&nbsp;&nbsp;&nbsp;EXECUTE&nbsp;&nbsp;&nbsp;<<<</button>
		</main>
	</form>
	</div>

</body>

</html>