<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" href="/css/home2.css">
</head>

<body>
	<h1 class="title header sync-rate">LOGIN</h1>
	<form action="/user" method="get">
		<button class="button button:hover cancel">EXTLE USER</button>
	</form>
	<form action="/login" method="post">
		<span th:text="${message}" style="color: red"></span> <br>
		<table border="1" class="nyuuryoku category">
			<tr>
				<td>
					<input type="text" name="name" class="textbox">
				</td>
				<td>
					<button class="button button:hover">ログイン</button>
				</td>
			</tr>
		</table>
	</form>

</body>

</html>