<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" href="/css/home2.css">
</head>

<body>
	<main>
		<h1 class="title header sync-rate">EXTLA ACCOUNT</h1>
	</main>

	<table class="sidebar">
		<tr>
			<td>
				<img src="/img/rogo.jpg" width="150px" height="150px">
			</td>
		</tr>
		<tr>
			<td class="">NAME：[[${@account.name}]]</td>
		</tr>
		<tr>
			<td class="">INCOME：&yen;[[${@account.income}]]</td>
		</tr>
		<tr>
			<td>
				<form action="/home" method="get">
					<button style="width: 100%; height: 100%;" class="button button:hover">HOME</button>
				</form>
			</td>
		</tr>
		<tr>
			<td>
				<form action="/user">
					<button style="width: 100%; height: 100%;" class="button button:hover">Edit Income</button>
				</form>
			</td>
		</tr>
		<tr>
			<td>
				<form action="/expens/add">
					<button style="width: 100%; height: 100%;" class="button button:hover">Expenditure</button>
				</form>
			</td>
		</tr>
		<tr>
			<td>
				<form action="/category/add">
					<button style="width: 100%; height: 100%;" class="button button:hover">Category</button>
				</form>
			</td>
		</tr>
		<tr>
			<td>
				<form action="/logout">
					<button style="width: 100%; height: 100%;" class="button button:hover">Logout</button>
				</form>
			</td>
		</tr>
	</table>

	<form action="/user" method="post">
		<table border="1" class="nyuuryoku category">
			<tr>
				<td>
					<input type="text" name="name" class="textbox" placeholder="NAME">
					<input type="text" name="income" class="textbox" placeholder="INCOME">
					<button class="button button:hover">EXTLA</button>
				</td>
			</tr>
		</table>
	</form>

</body>

</html>